/*font-size*/
$largest: 26px;
$large: 22px;
$medium: 17px;
$small: 15px;
$smallest: 14px;

/*color*/
/* l:light m:middle d:dark */

$color-main-l: #ede3cc;
$color-main-m: #b39f78;
$color-main-d: #8F775E;

$color-thr-l: #e6e6e6;
$color-thr-m: #777777;
$color-thr-d: #222222;